<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @page[:title] %></title>
  <%= tag :link, rel: 'shortcut icon', href: image_path('favicon.ico') %>
  <%= style asset_path('application.css') %>
</head>

<% tag :body, filter_nil!(class: @page[:class]) do %>
  <div id="wrapper">

    <div id="header">
      <h1 id="logo"><a href="/">emporium</a></h1>
      <%= partial :user_controls %>
      <%= partial :navigation %>
    </div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer">
      <%= partial :footer %>
      <%= partial :all_products %>
    </div>
  </div>

  <%= script asset_path('vendor.js') %>
  <%= script asset_path('application.js') %>
<% end %>
</html>
